/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 100%, 35%);
  --clr-primary-2: hsl(0, 100%, 45%);
  --clr-primary-3: hsl(0, 100%, 55%);
  --clr-primary-4: hsl(0, 100%, 65%);

  /* lighter shades of primary color */
  --clr-primary-5: hsl(0, 100%, 70%);
  --clr-primary-6: hsl(0, 100%, 75%);
  --clr-primary-7: hsl(0, 100%, 82%);
  --clr-primary-8: hsl(0, 100%, 85%);
  --clr-primary-9: hsl(0, 100%, 95%);

  /* darkest grey  */

  --clr-grey-1: hsl(0, 0%, 22%);
  --clr-grey-2: hsl(0, 0%, 34%);
  --clr-grey-3: hsl(0, 0%, 42%);
  --clr-grey-4: hsl(0, 0%, 50%);

  /* Light grey  */
  --clr-grey-5: hsl(0, 0%, 58%);
  --clr-grey-6: hsl(0, 0%, 66%);
  --clr-grey-7: hsl(0, 0%, 74%);
  --clr-grey-8: hsl(0, 0%, 82%);
  --clr-grey-9: hsl(0, 0%, 90%);
  --clr-grey-10: hsl(0, 0%, 98%);

  /* Green for active button */
  --Clr-green-1: hsl(120, 100%, 30%);
  --Clr-green-2: hsl(120, 100%, 42%);
  --Clr-green-3: hsl(120, 100%, 70%);

  --clr-gold-6: hsl(50.6, 100%, 50%);
  --clr-gold-6: hsl(50.6, 100%, 40%);
  --clr-gold-6: hsl(50.6, 100%, 30%);

  --Clr-black: #000000;
  --clr-white: #fff;
  --ff-primary: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.5s linear;
  --fast-transition: all 0.2s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

body {
  font-family: var(--ff-primary);
  /* background: var(--clr-grey-9); */
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  text-transform: capitalize;
  line-height: 1.25;
  /* margin-bottom: 0.75rem; */
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  /* margin-bottom: 1.25rem; */
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #34495e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495e;
}

::-webkit-scrollbar-track {
  background: transparent; /* removes background track */
}

/* Firefox */
* {
  scrollbar-width: thin; /* options: auto | thin | none */
  scrollbar-color: #34495e #f1f1f1;
}
